body {

    background: #fefefe;
}

.input-group {
    position: relative;
    margin: 20px 0;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: black;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: black;
    padding: 0 10px;
    background: transparent;
    border: 1.2px solid #000000;
    outline: none;
    border-radius: 5px;
}
.input-group textarea {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #000000;
    padding: 0 10px;
    background: transparent;
    border: 1.2px solid #000000;
    outline: none;
    border-radius: 5px;
}
.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    font-size: 12px;
    background: #fefeff;
}
.input-group textarea:focus~label,
.input-group textarea:valid~label {
    top: 0;
    font-size: 12px;
    background: #fefefe;
}